body {
  margin: 0;
  /* background-color: rgba(14, 204, 163, 0.05); */
  background-color: rgb(226, 42, 226);
  font-family: arial;
  padding-top: 80px;
  padding-bottom: 20px;
}

p {
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  background-color: rgb(143, 113, 13);
  align-items: center;
  border-radius: 5px;
  justify-content: space-between;
  z-index: 10;
}

.left-section {
  flex: 1;
}

.left-section .nav-link,
.right-section .nav-link {
  font-size: 17px;
  text-decoration: none;
  color: yellow;
  font-weight: bold;
  white-space: nowrap;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.left-section .nav-link:hover,
.right-section .nav-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.right-section {
  width: 13%;
}

.nav-link.active {
  background-color: yellow;
  color: green;
  border-radius: 5px;
}
.nav-link.active:hover {
  text-decoration: none;
  background-color: yellow;
  color: green;
  border-radius: 5px;
}
