* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  background-color: rgb(226, 42, 226);
  font-family: arial;
  padding-top: 80px;
  padding-bottom: 20px;
}

p {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: rgb(143, 113, 13);
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  z-index: 10;
}

/* start ---- designing ham menu bar */
span {
  position: absolute;
  width: 45px;
  height: 4px;
  border-radius: 2px;
  background-color: yellow;
  left: 2px;
}
#bar1 {
  top: 8px;
}
#bar2 {
  top: 23px;
}
#bar3 {
  top: 38px;
}
/* end ------ designing ham menu bar */

/* hiding ham menu until a certain width is reached */
.ham-container {
  display: none;
}

@media screen and (max-width: 768px) {
  .ham-container {
    display: block;
    width: 50px;
    height: 50px;
    position: fixed;
    left: 12px;
    top: 5px;
    z-index: 11;
  }

  .left-section,
  .right-section {
    display: none;
  }

  .header.active {
    position: fixed;
    flex-direction: column;
    height: 230px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-top: 60px;
    padding-bottom: 20px;
  }

  .header.active .left-section,
  .header.active .right-section {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}

.left-section .nav-link,
.right-section .nav-link {
  font-size: 17px;
  text-decoration: none;
  color: yellow;
  font-weight: bold;
  padding: 10px;
}

.left-section .nav-link:hover,
.right-section .nav-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.nav-link.active {
  background-color: yellow;
  width: 100%;
  text-align: center;
  color: green;
  border-radius: 5px;
}

.nav-link.active:hover {
  text-decoration: none;
}
